.content-container{    
    padding: 5px 10px;
}

.pref-container{
    background-color: white !important;
    padding: 0px 5px;
}

.pref-label{
    font-size: 1.25em;
}

.form-group{
    margin-bottom: 25px;
}

.form-field-full{
    width: 95%;
}

.head-icon{    
    padding: 15px 25px;    
    text-align: center;
}

.head-icon img{
    max-width: 75%;    
}

.content-item{
    display: flex;
    margin:15px;
    align-items: center;
}

.content-item div{
    margin-left: 15px;
}

.city-list-item{    
    display: flex;
    flex-direction: row;    
    width: 100%;    
}

.city-list-col-a{
    display: flex;
    flex-direction: col;
    align-items: center;        
}

.city-list-temp div{ 
    text-align: center;    
}

.city-list-col-b{
    font-size: 1.5em;
    align-self: center;
    padding-left: 10px;    
    flex-grow: 3;
}

.city-list-col-c{    
    justify-self: end;        
    align-self: center;
    padding-right: 5px;
}

.curr-data-main{
    width: 100%;
    padding: 15px 0px 10px;
    text-align: center;
    background-color: rgb(190, 190, 255);
    color: white;
}

.curr-data-sub{
    margin: 15px 0px;
}

.curr-temp{
    font-size: 3em;    
}

.weather-icon-main{
    height: 100px;
}

.fore-head{
    font-weight: bold !important;
    font-size: 1.5em !important;
    text-align: center;   
    margin: 75px 0px 10px !important;
}

.fore-container{
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    padding: 15px 0px;
    background-color: white;
}

.fore-cell{    
    flex-grow: 1;
}

.fore-cell div{
    text-align: center;
}
.fore-day{
    font-weight: bold !important;    
}
